@import '../variables';

.list {
  font-weight: 400;
  line-height: 1.2;
  padding-left: 5px;
}

.search {
  display: flex;
  align-items: center;
  max-width: 85%;
  height: 28px;
  margin: auto;
  margin-left: 0px;
  margin-bottom: .5rem;
  padding: 4px;
  background: hsl(0, 0%, 97%);
  border-radius: 2em;
}

.searchIcon {
  fill: hsl(0, 0%, 75%);
  flex-shrink: 0;
}

.clearSearch {
  padding: 0;
  fill: hsl(0, 0%, 75%);
}

.title {
  color: #000;
}

.active {
  font-weight: 600;
  // text-decoration: underline;
  // padding-top: 2px;
  // padding-bottom: 2px;
  // padding-bottom: 2px;
  // border-top: 2px $link-color solid;
  // border-bottom: 2px $link-color solid;
  // &:hover {
  //   border-top-color: lighten($link-color, 20%);
  //   border-bottom-color: lighten($link-color, 20%);
  // }

}
