@import '../variables';

.app {
  // max-width: 95%;
  line-height: 1.4;
  margin: auto;
  padding: 2px 10px 2px 10px;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 300;
  min-height: 250px;
  min-width: 450px;
}

.header {
  margin: $spacing;
  text-transform: lowercase;

  a {
    font-weight: 500;
    text-decoration: none;
  }
}

.title {
  display: inline-block;
  margin: 0;
  font-size: $font-size;

  a {
    color: $black;
  }
}
