$spacing: .5rem;
$player-ratio: 1280 / 720;
$break-desktop: 500px;
$break-tablet: 350px;
$min-win-width: 300px;
$min-win-height: 300px;
$max-win-width: 800px;

$font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size: 15px;

$player-background-color: #eee;
$link-color: #36c; // #00897B;
$button-color: #eee;
$black: #000;
